.contactus{
    .title{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
    }
    .desc{
        margin-top: 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 105%;
        letter-spacing: 0.01em;        
    }
    .submited{
        .btn-primary{
            margin-top: 32px;
            width: 361px;
        }
    }
    form{
        width: 362px;
        @media only screen and (max-width: $lg) {
            margin-top: 50px;
            width: 100%;          
        }
        .form-group{
            &:first-child{
                margin-top: 0;
            }
        }
    }
}