.forgot-password{
    .link{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.0015em;
        a{
            font-weight: bold;
        }
    }
    .btn-primary{
        font-size: 16px;
    }
    @media only screen and (max-width: $lg) {
        .heading{
            font-size: 30px;
        }        
        .desc{
            font-size: 12px;
        }
    }
    @media only screen and (max-width: $sm) {
        .heading{
            font-size: 24px;
        }        
    }
}