.product-default,
.product-home{
    .container-img{
        background: linear-gradient(0deg, #E5E5E5, #E5E5E5), #E5E5E5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(66, 66, 66, 0.2) !important;
        padding: 0;
        margin: 0;
        width: 332px;
        height: 430px;
        position: relative;
        @media only screen and (max-width: $sm) {
            width: 232px;
            height: 330px;        
        }
        .cart-container{
            position: absolute;
            background-color: #F5F5F5;
            width: 0px;
            height: 0px;
            z-index: 99;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 16px;
            right: 0;
            transition: 0.3s;
            cursor: pointer;
        }
        .label-container{
            position: absolute;
            width: 39px;
            height: 20px;
            z-index: 99;
            background: #B8513A;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 18px;
            h1{
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                color: #FFFFFF;
                margin-bottom: 0;
            }
        }
        .stock{
            position: absolute;
            width: 332px;
            height: 0px;
            transition: 0.3s;
            bottom: 0;
            background-color: $color-primary;
            text-align: center;
            @media only screen and (max-width: $sm) {
                width: 232px;
            }
            h1{
                color:transparent;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                letter-spacing: 0.0015em;
            }
            span{
                display: none;
                margin-top: 13px;
            }
        }
        &:hover{
            .stock{
                height: 62px;
                h1{
                    color: white;
                }
                span{
                    display: block;
                    margin-top: 13px;
                }    
            }
            .cart-container{
                width: 40px;
                height: 40px;
            }
        }
    }
    p{
        margin-bottom: 0;
    }
    .title{
        cursor: pointer;
        margin-top: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.0015em;
    }
    .desc{
        margin-top: 8px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    }

}

.product-category{
    section{
        margin-top: 20px;   
    }
}
.product-category-item{
    .img-container{
        position: relative;
        width: 332px;
        height: 300px;
        cursor: pointer;
        @media only screen and (max-width: $md) {
            height: 250px;  
        }  
        @media only screen and (max-width: $sm) {
            height: 200px;    
        }
        @media only screen and (max-width: $m) {
            width: 250px;
        }     
        &:hover{
            .filter{
                opacity: 0.1;
            }
        }
        .filter{
            transition: 0.3s;
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, 0.35);
            box-shadow: 0px 6px 10px rgba(66, 66, 66, 0.2), 0px 0px 4px rgba(66, 66, 66, 0.2);
            opacity: 0.8;
            z-index: 99;
            // @media only screen and (max-width: $md) {
            //     height: 250px;            
            // }  
            // @media only screen and (max-width: $sm) {
            //     height: 200px;            
            // } 
            // @media only screen and (max-width: $m) {
            //     width: 250px;
            // }   
        }        
        .title{
            position: absolute;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.0125em;
            text-transform: uppercase; 
            color: #FFFFFF;               
        }
    }  
}

.ourProduct-item{
    margin-right: 32px;
    margin-bottom: 62px;
    cursor: pointer;
    @media only screen and (max-width: $sm) {
        margin-top: 24px !important;
    } 
    .img-container{
        width: 332px;
        height: 430px;
        position: relative;
        @media only screen and (max-width: $sm) {
            width: 102px;
            height: 172px;       
        } 
        &:hover{
            .filter{
                opacity: 0.1;
            }
        }
        .filter{
            transition: 0.3s;
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, 0.35);
            box-shadow: 0px 6px 10px rgba(66, 66, 66, 0.2), 0px 0px 4px rgba(66, 66, 66, 0.2);
            opacity: 0.8;
            z-index: 98;
            // @media only screen and (max-width: $md) {
            //     height: 250px;            
            // }  
            // @media only screen and (max-width: $sm) {
            //     height: 200px;            
            // } 
            // @media only screen and (max-width: $m) {
            //     width: 250px;
            // }   
        }  
        .title{
            position: absolute;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            text-align: center;
            line-height: 28px;
            letter-spacing: 0.0125em;
            text-transform: uppercase; 
            color: #FFFFFF;  
            z-index: 99; 
            @media only screen and (max-width: $sm) {
                font-size: 14px;
            }             
        }
    }
}

.product-list{
    .product-banner{
        height: 221px;
        width: 100%;
        position: relative;
        background-color: $color-primary;
    }
    .sub-heading{
        text-transform: uppercase; 
    }
    .select-filter{
        border-bottom: 0px;
    }
    .hr-filter{
        height: 6px;
    }
    .sort-by{
        @media only screen and (max-width: $sm) {
            font-size: 12px;
        }  
    }
    .product-list-container{
        @media only screen and (max-width: $sm) {
           display: flex;
           justify-content: center;
           width: 100%;
        }  
    }
    .sub-category{
        @media only screen and (max-width: $md) {
            text-align: center;            
        }
        .filter-item{
            &:hover{
                text-decoration: line-through;
            }
        }
        .accordion-item{
            background-color : transparent ;
            border: 0px;
            .accordion-button{
                background-color : transparent ;
                border: 0px;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 23px;
                letter-spacing: 0.0015em;
                padding-left: 0px;
            }
            .accordion-button:not(.collapsed){
                color: $color-primary !important;
                border: 0px;
            }
            .accordion-button:not(.collapsed)::after{
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
            }
            .accordion-body{
                padding-left: 0px;
            }
            .color-container{
                width: 32px;
                height: 32px;
                border-radius: 16px;
            }
        }        
        .title{
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.0015em;
        }
        .sub-title{
            cursor: pointer;
            &:last-child{
                margin-bottom: 16px !important; 
            }
        }
        .active{
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.0015em;
        }
    }
}

.product-default{
    .container-img{
        width: 314px ;
        height: 314px ;
        @media only screen and (max-width: $m) {
            width: 250px ;
            height: 250px ;
        }   
        .stock{
            width: 314px;   
            @media only screen and (max-width: $m) {
                width: 250px;   
            }
        }
    }
}

.product-detail{
    background-color: #F5F5F5;
    padding-bottom: 48px;
    @media only screen and (max-width: $sm) {
        .px-5{
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }
    .breadcrumb{
        margin-top: 20px;
        padding-top: 30px;
        .link-container{
            @media only screen and (max-width: $md) {
                display: block;            
                font-size: 12px;
                margin-top: 5px !important;
            }
        }
        .link-splitter{
            @media only screen and (max-width: $md) {
                margin-left: 0px !important;
                margin-right: 0px !important;
            }        
        }
    }
    .icon-action{
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.004em; 
            cursor: pointer;      
            margin-bottom: 16px;     
        }
    }
    .img-gallery{
        .img-container{
            width: 332px;
            height: 430px;
            position: relative;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(66, 66, 66, 0.2);
        }
        .navigation{
            margin-top: 30px;
            width: 332px;
            span{
                cursor: pointer;
            }
            .circle-navigation{
                width: 12px;
                height: 12px;
                border: 1px solid #1E1E22;
                border-radius: 6px;
                margin-left: 4px;
                margin-right: 4px;
                cursor: pointer;
            }
            .active{
                background-color: $color-primary;
            }
        }
    }
    .desc{
        @media only screen and (max-width: $md) {
            margin-top: 50px; 
        }        
        .category{
            font-style: normal;
            font-weight: normal;
            font-size: 34px;
            line-height: 40px;
            letter-spacing: 0.0025em;            
        }
        .title{
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 56px;
        }
        .accordion-item{
            background-color : transparent ;
            border: 0px;
            .accordion-button{
                background-color : transparent ;
                border: 0px;
                width: 377px ;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 23px;
                letter-spacing: 0.0015em;
                padding-left: 0px;
            }
            .accordion-button:not(.collapsed){
                color: $color-primary !important;
                border: 0px;
            }
            .accordion-button:not(.collapsed)::after{
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
            }
            .accordion-body{
                padding-left: 0px;
            }
        }
        .price{
            margin-top: 32px;
            .title{
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 36px;
            }
            .value{
                font-style: normal;
                font-weight: normal;
                font-size: 34px;
                line-height: 40px;
                letter-spacing: 0.0025em;                
            }
        }
        .btn{
            border-radius: 50px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            padding-top: 14px;
            letter-spacing: 0.04em;
            margin: 12px;
        }
        .button-container{
            @media only screen and (max-width: $md) {
                flex-direction: column !important;
                align-items: start !important;
                justify-content: start;
                .btn{
                    margin-left: 0px !important;
                }
            }     
        }
    }
}

.product-portal{
   .title{
        margin-top: 50px;
        font-weight: normal;
        font-size: 48px;   
        text-transform: uppercase;    
   } 
   .sub-title{
        margin-top: 32px;
        font-weight: 600;
        font-size: 20px;       
   }
   .btn-primary{
       text-transform: uppercase;
   }
   .price{
       margin-right: 60px;
       p{
           margin-bottom: 0px;
           &:first-child{
                font-weight: normal;
                font-size: 24px;               
           }
           &:last-child{
                font-weight: normal;
                font-size: 34px;               
           }
       }
   }
}

#modalProductDetail{
    .modal-content{
        height: 650px;
        .img-container{
            box-sizing: content-box;
        }
        .btn-close{
            position: absolute;
            right: 0;
        }
    }
}