$xxxl  : 1600px ; 
$xxl  : 1400px ; 
$xl  : 1200px ; 
$lg : 992px ;
$md  : 768px ;
$sm  : 576px ;
$m  : 350px ;

$color-primary : #1E1E22 ;
$color-danger : #B81C23 ;
$color-grey : #EEEEEE ;
$color-grey-01 : #F5F5F5 ;
$color-grey-02 : #757575;
$color-white : #FFFFFF ;
$color-link-blue: #5593E1 ;
$color-blue : #5593E1 ;
$color-success : #0BA05D ;